<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>TTPS2024_ENTREGABLE1_Carrera</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>DosDias</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>TresDias</param-name>
    <param-value>4</param-value>
  </context-param>
  <listener>
    <listener-class>misListeners.ListenerCupos</listener-class>
  </listener>
  <filter>
    <display-name>FiltroEntradasAgotadas</display-name>
    <filter-name>FiltroEntradasAgotadas</filter-name>
    <filter-class>misFiltros.FiltroEntradasAgotadas</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroEntradasAgotadas</filter-name>
    <url-pattern>/FiltroEntradasAgotadas</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ImprimeEntrada</display-name>
    <servlet-name>ImprimeEntrada</servlet-name>
    <servlet-class>misServlets.ImprimeEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImprimeEntrada</servlet-name>
    <url-pattern>/FiltroEntradasAgotadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Estadisticas</display-name>
    <servlet-name>Estadisticas</servlet-name>
    <servlet-class>misServlets.Estadisticas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Estadisticas</servlet-name>
    <url-pattern>/Estadisticas</url-pattern>
  </servlet-mapping>
</web-app>