<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Clasificados_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>ttps.clasificados.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>ttps.clasificados.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>nombre</param-name>
    <param-value>ElDia</param-value>
  </context-param>
  <context-param>
    <param-name>mail</param-name>
    <param-value>admin@info.unlp.edu.ar</param-value>
  </context-param>
  <context-param>
    <param-name>telefono</param-name>
    <param-value>2211234567</param-value>
  </context-param>
  <listener>
    <listener-class>ttps.clasificados.Listener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Encabezado</display-name>
    <servlet-name>Encabezado</servlet-name>
    <servlet-class>ttps.clasificados.Encabezado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Encabezado</servlet-name>
    <url-pattern>/Encabezado</url-pattern>
  </servlet-mapping>
</web-app>